<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://hc.supconit.com/mybatis-3-mapper.dtd">

<!--  MAPPER ; CREATE AT BY SuChenghe-->
<!--注意，因为代码更改，这里namespace为dao类的地址-->
<mapper namespace="com.suchenghe.dao.mysql.datasourcemapperfirst.DeviceBeanMapper">

    <!--<sql id="SEQUENCE_DEVICE" >SELECT SEQ_DEVICE_BEAN.NEXTVAL FROM DUAL</sql>-->

    <!--设备映射-->
    <resultMap type="com.suchenghe.dao.mysql.pojo.DeviceBean" id="DeviceBeanResultMap">
        <result property="id" column="ID"/>
        <result property="deviceCode" column="DEVICE_CODE"/>
        <result property="deviceName" column="DEVICE_NAME"/>
        <result property="deviceStatus" column="DEVICE_STATUS"/>
        <result property="createTime" column="CREATE_TIME"/>
    </resultMap>

    <!--插入语句-->
    <insert id="insertDevice" useGeneratedKeys="true" keyProperty="id" parameterType="com.suchenghe.dao.mysql.pojo.DeviceBean">
        INSERT INTO DEVICE_BEAN(DEVICE_CODE,DEVICE_NAME,DEVICE_STATUS)
        values(#{deviceCode},#{deviceName},#{deviceStatus})
    </insert>
    <!--oracle-->
    <!--<insert id="insertDevice" keyProperty="id" keyColumn="ID" parameterType="com.suchenghe.dao.pojo.DeviceBean">-->
        <!--<selectKey keyProperty="id" resultType="long" order="BEFORE">-->
            <!--<include refid="SEQUENCE" />-->
        <!--</selectKey>-->
        <!--INSERT INTO DEVICE_BEAN(ID,DEVICE_CODE,DEVICE_NAME,CREATE_TIME)-->
        <!--values(#{id},#{deviceCode},#{deviceName},#{createTime})-->
    <!--</insert>-->

    <!-- 更新设备信息 -->
    <update id="updateDevice" parameterType="com.suchenghe.dao.mysql.pojo.DeviceBean" >
        UPDATE DEVICE_BEAN
        <set>
            CREATE_TIME = SYSDATE
            <if test="deviceName != null">,DEVICE_NAME=#{deviceName}</if>
        </set>
        where ID=#{id}
    </update>

    <!--获取设备列表-->
    <select id="getByCondition"  resultMap="DeviceBeanResultMap"
            parameterType="com.suchenghe.dao.mysql.pojo.DeviceBean" >
        SELECT ID,DEVICE_CODE,DEVICE_NAME,DEVICE_STATUS,CREATE_TIME FROM DEVICE_BEAN
        <where>
            <!--<if test="createTime!=null and 1 !=null">仅为测试and效果-->
            <if test="createTime!=null">
                AND CREATE_TIME>= #{createTime}
            </if>
            <if test="deviceName!=null">
                <bind name="device_name" value="'%'+deviceName+'%'" />
                AND DEVICE_NAME LIKE  #{device_name}
            </if>
            <choose>
                <when test="deviceStatus==1"> AND DEVICE_STATUS = 1 </when>
                <when test="deviceStatus==2"> AND DEVICE_STATUS = 2 </when>
                <when test="deviceStatus==3"> AND DEVICE_STATUS = 3 </when>
                <otherwise> AND DEVICE_STATUS NOT IN (1,2,3) </otherwise>
            </choose>
        </where>
    </select>

    <!--获取设备列表-->
    <select id="getByIdList"  resultMap="DeviceBeanResultMap" >
        SELECT ID,DEVICE_CODE,DEVICE_NAME,DEVICE_STATUS,CREATE_TIME FROM DEVICE_BEAN
        where id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!--获取设备列表-->
    <select id="getHashMapData"  resultType="hashmap" >
        SELECT ID,DEVICE_CODE,DEVICE_NAME,DEVICE_STATUS,CREATE_TIME FROM DEVICE_BEAN
    </select>

</mapper>
