<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://hc.supconit.com/mybatis-3-mapper.dtd">

<!--  MAPPER ; CREATE AT BY SuChenghe-->
<mapper namespace="com.suchenghe.dao.mysql.mybatis.datasourcemapperfirst.UserInfoMapper">

    <!--<sql id="SEQUENCE_DEVICE" >SELECT SEQ_DEVICE_BEAN.NEXTVAL FROM DUAL</sql>-->

    <!--用户映射-->
    <resultMap type="com.suchenghe.dao.mysql.mybatis.pojo.UserInfo" id="UserInfoResultMap">
        <result property="id" column="ID"/>
        <result property="userName" column="USER_NAME"/>
        <result property="passWord" column="PASS_WORD"/>
    </resultMap>

    <!--获取用户信息-->
    <select id="getUserInfo"  resultMap="UserInfoResultMap"
            parameterType="com.suchenghe.dao.mysql.mybatis.pojo.UserInfo" >
        SELECT ID,USER_NAME,PASS_WORD FROM info_user
        <where>
            <if test="userName!=null">
                AND USER_NAME = #{userName}
            </if>
            <if test="passWord!=null">
                AND PASS_WORD = #{passWord}
            </if>
        </where>
    </select>

</mapper>
